header
{
	text-align: center;
	border-bottom: 1px solid blue;
	padding-top: 50px;
}

.menu 
{
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.menu a
{
	text-decoration: none;
	color: black;
}

.menu a:hover
{
	color: gray;
}

.entete_menu
{
	list-style: none;
	padding: 0px;
	border: 1px solid blue;
	margin: 0px;
	background-color: #6495ED;
}

.entete_menu:hover
{
	background-color: #87CEFA;
}

.titre h5
{
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.action h6
{
	font-size: 1.25em;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.titre
{
	margin: 10px;
	text-align: center;

}

.action
{
	border: 1px solid blue;
	margin: 10px;
}

.action-info
{
	text-align: left;
}

.action-date
{
	text-align: left;
}

.page
{
	text-align: center;
}

.page a
{
	text-decoration: none;
	color: black;
}

.page .page_actuel
{
	color: blue;
}

footer
{
	text-align: center;
	border-top: 1px solid blue;
	padding-top: 50px;
}